    .container {
    
    display: flex;
    /* justify-content: space-evenly; */
    /* flex-wrap: wrap; */
    background-color: darkorange;
    justify-content: center;
    align-items: center;
    /* align-items: ; */
    height: 400px;

    
    

    }

    .container div {
    background-color: #f1f1f1;
    width: 100px;
    height: 100px;
    margin: 10px;
    padding: 10px;
    text-align: center;  
    font-size: 30px;
    align-content: center;

      /* width: 500px; */
  /* margin-inline: auto; */

    }